body {
  padding-top: 60px;
}

#editors {
  height: 250px;
}

#html_editor, #css_editor, #js_editor {
  width: 100%;
  height: 250px;
  display: inline-block;
}


#browser, #terminal {
  border-radius: 10px;
  margin-bottom: 10px;
  display: inline-block;
  height: 360px;
  vertical-align: top;
  width: 100%;
  padding: 20px;
}

#browser {
  background-color: white;
  color: black;
}

#terminal {
  background-color: black;
  opacity: 0.7;
  overflow: scroll;
  font-family: monospace;
}

#terminal p {
  color: lime;
}

#terminal p.error {
  color: red;
}
